/build/
/.gradle/
/.gradle/
/build/
/app/build/intermediates/javac/debug/classes/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$10.class
/app/build/intermediates/javac/debug/classes/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$11.class
/app/build/intermediates/javac/debug/classes/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$12.class
/app/build/intermediates/javac/debug/classes/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$13.class
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/data/database/DatabaseKt$MIGRATION_1_2$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/data/database/DatabaseKt.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$10.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$11.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$12.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/data/database/ExamDao_Impl$13.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/data/ExamRepository$deleteQuestionResults$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/AnsweredQuestion.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/ComposableSingletons$QuizScreenKt$lambda-2$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/ComposableSingletons$QuizScreenKt$lambda-3$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$2$1$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$2$2$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$2.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$2$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$2$2.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$3$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$3.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$4.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$5$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$5.dex
/app/build/intermediates/project_dex_archive/debug/out/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$9.dex
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.s
/app/build/kspCaches/debug/symbols.values
/app/build/kspCaches/debug/symbols.values.s
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/AppDatabase_Impl$1.class.uniqueId10
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/AppDatabase_Impl.class.uniqueId8
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$1.class.uniqueId5
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$2.class.uniqueId1
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$3.class.uniqueId9
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$4.class.uniqueId4
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$5.class.uniqueId6
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$6.class.uniqueId2
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$7.class.uniqueId7
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$8.class.uniqueId0
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl$9.class.uniqueId11
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ExamDao_Impl.class.uniqueId3
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/data/database/DatabaseKt$MIGRATION_1_2$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/data/database/DatabaseKt.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/data/ExamRepository$deleteQuestionResults$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/AnsweredQuestion.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/ComposableSingletons$QuizScreenKt$lambda-2$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/ComposableSingletons$QuizScreenKt$lambda-3$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$2$1$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$2$2$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$7$2.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$2$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$2$2.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$3$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$3.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$4.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$5$1.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$8$1$5.class
/app/build/tmp/kotlin-classes/debug/com/example/heilpraktikerpruefung/ui/QuizScreenKt$QuizScreen$9.class
/app/build/
